@using System.Security.Claims;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var role = HttpContextAccessor.HttpContext?.User.FindAll(ClaimTypes.Role).Select(x => x.Value).ToArray();
    ViewData["Title"] = "Quản lý đơn vị vận chuyển";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card p-3">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        @if (role.Contains("Tạo mới đv vận chuyển"))
                        {
                            <a class="btn btn-primary" asp-action="Create" asp-controller="ShippingUnit">Thêm đơn vị vận chuyển</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:5%">STT</th>
                        <th style="width:40%">Tên đơn vị vận chuyển</th>
                        <th style="width:50%">Ghi chú</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var idx = 0;
                        foreach (var item in @ViewBag.DataView)
                        {
                            idx++;
                            <tr>
                                <td>@idx</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td class="table-action">
                                    @if (role.Contains("Sửa đv vận chuyển"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" title="Sửa đơn vị vận chuyển"><i class="align-middle" data-feather="edit-2"></i></a>
                                    }
                                    @if (role.Contains("Xóa đv vận chuyển"))
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id" title="Xóa đơn vị vận chuyển"><i class="align-middle" data-feather="trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#SettingsCollapse').removeClass("collapsed");
        $('#settings').addClass("show");
        $('#shippingLst').addClass("active");
    });
</script>

