@using Commons.Enums;
@model Models.Requests.GetSIMRequest
@{
    ViewData["Title"] = "Sim du lịch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var IsMobile = ViewBag.IsMobile;
}

<div class="block mt-15">
    <div class="block-head">SIM DU LỊCH</div>
    <div class="block-body p-3">
        <div class="sim-table--body col-12 px-0">
            <div class="sim-table--wrap">
                @if (@ViewBag.TouristSims.Count > 0)
                {
                    <div class="row">
                        @foreach (var item in @ViewBag.TouristSims)
                        {
                            <div class="col-6 col-xl-6">
                                <div class="card m-3">
                                    <div class="card-header text-center" style="background-color: #e14021;color: white;">
                                        <h3 class="fw-bold">@item.Name</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="sim-desc" class="">
                                            @Html.Raw(@item.Summary)
                                        </div>
                                        <div class="card-text"><span id="sim-number" class="fw-bold text-warning"></span></div>
                                        <p class="card-text"><i class="fa fa-tag" aria-hidden="true"></i>  Giá chỉ từ: <span id="sim-price" class="fw-bold text-danger">@item.Price.ToString("#,##0") đ/tháng</span></p>

                                        <div class="card-footer text-center">
                                            <div class="input-group mb-3">
                                                <input type="number" class="form-control" id="@(item.Id + item.Name)" placeholder="Số lượng">
                                                <button onclick="AddSimData(@item.Id, '@item.Name', @item.Price);" class="btn btn-warning">
                                                     <i class="bi bi-cart-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h4>Không tìm thấy sản phẩm nào.</h4>
                }
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        var menuTop = document.getElementById("sim-tourist");
        menuTop.classList.add("active");
    };

    function AddSimData(id, type, price){
        debugger;
        var qty = $('#'+id+type).val();
        if(qty > 0){
            AddSimTouristToCart(id, type, price, qty);
        } else {
            alert('Bạn chưa nhập số lượng sim cần mua!')
        }
    }
</script>