@model Models.Requests.GetPagingRequest
@using System.Security.Claims;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var role = HttpContextAccessor.HttpContext?.User.FindAll(ClaimTypes.Role).Select(x => x.Value).ToArray();
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách người dùng</h1>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card p-3">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        @if (role.Contains("Tạo mới nhân viên"))
                        {
                            <a class="btn btn-primary" asp-action="Create" asp-controller="User">Thêm người dùng</a>
                        }
                    </div>
                    <div class="col-sm-6 text-right">
                        <form class="form-inline d-none d-sm-inline-block">
                            <div class="input-group input-group-navbar">
                                <input type="text" asp-for="keyword" class="form-control" placeholder="Tài khoản..." aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn" type="submit" asp-action="Index" asp-controller="User">
                                        <i class="align-middle" data-feather="search"></i>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:15%">Tài khoản</th>
                        <th style="width:15%">Tên</th>
                        <th style="width:15%">Số điện thoại</th>
                        <th style="width:30%">Địa chỉ</th>
                        <th class="d-none d-md-table-cell" style="width:20%">Quyền</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in @ViewBag.UserData)
                        {
                            <tr>
                                <td>@item.Username</td>
                                <td>@item.FullName</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.Address</td>
                                <td class="d-none d-md-table-cell">@item.Role</td>
                                <td class="table-action">
                                    @if (role.Contains("Sửa nhân viên"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" title="Sửa nhân viên"><i class="align-middle" data-feather="edit-2"></i></a>
                                    }
                                    @if (role.Contains("Xóa nhân viên"))
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id" title="Xóa nhân viên"><i class="align-middle" data-feather="trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="paging" class="px-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-md">
                    @if (ViewBag.Pager.TotalPages > 0)
                    {
                        @if (ViewBag.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-pageIndex="1"
                                   asp-route-keyword="@ViewBag.Pager.Key.keyword">
                                    Trang đầu
                                </a>
                            </li>
                        }
                        @for (var pge = ViewBag.Pager.StartPage; pge <= ViewBag.Pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == ViewBag.Pager.CurrentPage ? "active" : "")">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-pageIndex="@pge"
                                   asp-route-pageIndex="@ViewBag.Pager.TotalPages"
                                   asp-route-keyword="@ViewBag.Pager.Key.keyword">@pge</a>
                            </li>
                        }
                        @if (ViewBag.Pager.CurrentPage < ViewBag.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-pageIndex="@ViewBag.Pager.TotalPages"
                                   asp-route-keyword="@ViewBag.Pager.Key.keyword">
                                    Trang cuối
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#SettingsCollapse').removeClass("collapsed");
        $('#settings').addClass("show");
        $('#UserLst').addClass("active");
    });
</script>