@model Models.Requests.GetPagingRequest
@{
    ViewData["Title"] = "Danh sách tin bài";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách tin bài</h1>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card p-3">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <a class="btn btn-primary" asp-action="Create" asp-controller="News">Thêm tin bài</a>
                    </div>
                    <div class="col-sm-6 text-right">
                        <form class="form-inline d-none d-sm-inline-block">
                            <div class="input-group input-group-navbar">
                                <input type="text" asp-for="keyword" class="form-control" placeholder="Tiêu đề ..." aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn" type="submit" asp-action="Index" asp-controller="News">
                                        <i class="align-middle" data-feather="search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:5%;">#</th>
                        <th style="width:25%">Tiêu đề</th>
                        <th style="width:35%">Tóm tắt</th>
                        <th style="width:15%">Đường dẫn</th>
                        <th style="width:10%">Danh mục</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in @ViewBag.DataView)
                        {
                            <tr>
                                <td>@item.stt</td>
                                <td>@item.Title</td>
                                <td>@item.Summary</td>
                                <td>@item.Slug</td>
                                <td>@item.Category</td>
                                <td class="table-action">
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="align-middle" data-feather="edit-2"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="align-middle" data-feather="trash"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @if (ViewBag.Pager.TotalPages > 0)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-md">
                    @if (ViewBag.Pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-pageIndex="1"
                               asp-route-keyword="@ViewBag.Pager.Key.keyword">
                                Trang đầu
                            </a>
                        </li>
                    }
                    @for (var pge = ViewBag.Pager.StartPage; pge <= ViewBag.Pager.EndPage; pge++)
                    {
                        <li class="page-item @(pge == ViewBag.Pager.CurrentPage ? "active" : "")">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-pageIndex="@pge"
                               asp-route-pageIndex="@ViewBag.Pager.TotalPages"
                               asp-route-keyword="@ViewBag.Pager.Key.keyword">@pge</a>
                        </li>
                    }
                    @if (ViewBag.Pager.CurrentPage < ViewBag.Pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Index"
                               asp-route-pageIndex="@ViewBag.Pager.TotalPages"
                               asp-route-keyword="@ViewBag.Pager.Key.keyword">
                                Trang cuối
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>

<script>
    $(function () {
        $('#NewsCollapse').removeClass("collapsed");
        $('#news').addClass("show");
        $('#newslst').addClass("active");
    });
</script>