@model Models.Requests.GetPagingRequest
@using System.Security.Claims;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var role = HttpContextAccessor.HttpContext?.User.FindAll(ClaimTypes.Role).Select(x => x.Value).ToArray();
    ViewData["Title"] = "Danh sách loại sim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh sách loại sim</h1>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card p-3">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        @if (role.Contains("Tạo mới loại sim"))
                        {
                            <a class="btn btn-primary" asp-action="Create" asp-controller="ProductType">Thêm loại sim</a>
                        }
                    </div>
                    <div class="col-sm-6 text-right">
                        <form class="form-inline d-none d-sm-inline-block">
                            <div class="input-group input-group-navbar">
                                <input type="text" asp-for="keyword" class="form-control" placeholder="Tên loại sim..." aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn" type="submit" asp-action="Index" asp-controller="ProductType">
                                        <i class="align-middle" data-feather="search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:3%">Stt</th>
                        <th style="width:15%">Tên gói</th>
                        <th style="width:12%">Quốc gia</th>
                        <th style="width:10%">Giá mặc định</th>
                        <th style="width:45%">Mô tả</th>
                        <th style="width:5%">Sim data</th>
                        <th style="width:5%">Sim du lịch</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in @ViewBag.DataView)
                        {
                            <tr>
                                <td>@item.Stt</td>
                                <td>@item.Name</td>
                                <td>@item.CountryName</td>
                                <td>@item.DefaulPrice</td>
                                <td>@Html.Raw(@item.Description)</td>
                                <td>
                                    <div class="form-group col-3">
                                        <div class="form-check">
                                            <input class="form-check-input mt-1" type="checkbox" checked="@item.IsSimData" disabled>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group col-3">
                                        <div class="form-check">
                                            <input class="form-check-input mt-1" type="checkbox" checked="@item.IsTouristSim" disabled>
                                        </div>
                                    </div>
                                </td>
                                <td class="table-action">
                                    @if (role.Contains("Sửa loại sim"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="align-middle" data-feather="edit-2"></i></a>
                                    }
                                    @if (role.Contains("Xóa loại sim"))
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="align-middle" data-feather="trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="paging" class="px-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-md">
                    @if (ViewBag.Pager.TotalPages > 0)
                    {
                        @if (ViewBag.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-pageIndex="1"
                                   asp-route-keyword="@ViewBag.Pager.Key.keyword">
                                    Trang đầu
                                </a>
                            </li>
                        }
                        @for (var pge = ViewBag.Pager.StartPage; pge <= ViewBag.Pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == ViewBag.Pager.CurrentPage ? "active" : "")">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-pageIndex="@pge"
                                   asp-route-pageIndex="@ViewBag.Pager.TotalPages"
                                   asp-route-keyword="@ViewBag.Pager.Key.keyword">@pge</a>
                            </li>
                        }
                        @if (ViewBag.Pager.CurrentPage < ViewBag.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-pageIndex="@ViewBag.Pager.TotalPages"
                                   asp-route-keyword="@ViewBag.Pager.Key.keyword">
                                    Trang cuối
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#SIMCollapse').removeClass("collapsed");
        $('#sim').addClass("show");
        $('#ProductType').addClass("active");
    });
</script>